.layers-control-container{
  width: 400px;
}

#layers-control-text{
  padding-top: 10px;
  margin-left: 20px;
}

.show-layer-button{
  margin-left: 3px !important;
  padding: 0% !important;
}

.zoom-to-layer-button {
  margin-left: 3px !important;
  padding: 0% !important;
}

.layer-button {
  margin-left: 1px !important;
  padding: 0% !important;
}

.layers-control-element{
  width: 95%;
  margin-left: 25px !important;
}

/* .layers-control-list{

} */

.list-item-control{
  width: 98%;
}

.layers-control-icon {
  width: 10%;
  margin-left: -20px;
}
.layers-control-title {
  margin-left:10px !important;
  width: 100%
}

.layers-control-buttons {
  display: flex !important;

}
