#left-control-buttons{
    position: fixed;
    left: 10px;
    top: 100px;
}

#right-control-buttons{
    position: fixed;
    right: 6px;
    top: 100px;
}


.control-button{
    margin-top: 3pt;
}

#layers-control-button{
  position: absolute;
  top: 45px;
}

#layers-control{
  position: fixed;
  top: 170px;
  left: 10px;
}

.mapa-panel{
  width: 100% !important;
  height: 100% !important;
}

#footer{
  bottom: inherit;
}

body {
  position: relative !important;
  padding-top: 0px !important;
}